.body{
    background-color: #8a7874;
  }
  
  .decorations-header,
  .accessories-header,
  .clothes-header {
    background-color: black;
    background-size: cover;
    height: 27vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .decorations-title,
  .accessories-title,
  .clothes-title {
    font-size: 5rem;
    color: #8a7874;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    font-family: raleway-c;

  }
  
  .products-grid {
    background-color:#8a7874;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 40px 50px 30px 50px;
  }
  
  .product-card {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    position: relative;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
  }
  
  .product-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .product-name {
    font-size: 1.5rem;
    color: #8a7874;
    margin-bottom: 10px;
    font-family: raleway-c;
  }
  
  .product-price {
    font-size: 1.2rem;
    color:#8a7874;
    text-decoration: wavy;
    font-weight: bold;
  }
  
  .back-button {
    display: inline-block;
    margin: 30px;
    padding: 10px 20px;
    background-color: #5e1e15;
    color: #8a7874;
    text-decoration: none;
    border-radius: 5px;
    font-family: raleway-c;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #8a7874;
    color: #5e1e15;
  }

  .like-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #8a7874;
    transition: color 0.3s ease;
    margin: 5px 10px 0 0;
  }

  .like-button.liked {
    color:#5e1e15;
  }

  .add-to-bag-btn {
    display: block;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    background-color: #5e1e15;
    color: #8a7874;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: raleway-c;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }

  .add-to-bag-btn:hover {
    background-color: #8a7874;
    color: #5e1e15;
  }

  .footer-section {
    background-color: #8a7874;
    padding-bottom: 20px;
  }

  .knop {
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
    padding-right: 50px;
    background-color: #8a7874;
  }